[submodule "secret"]
	path = secret
	url = https://github.com/AlvaroBernalG/secret
[submodule "event-worker"]
	path = event-worker
	url = https://github.com/AlvaroBernalG/event-worker
[submodule "ts-promisify-event-emitter"]
	path = ts-promisify-event-emitter
	url = https://github.com/AlvaroBernalG/ts-promisify-event-emitter
